* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
}

#our-team {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 800px;
  overflow-y: hidden;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 20px;
}

.div-staff-info {
  top: 0;
  left: 0;
  position: absolute;
  padding: 15px;
  display: none;
}
.div-staff-info > .staff-name {
  font-size: 1.9rem;
  font-family: "Cal Sans", sans-serif;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4px;
  color: #eab200;
}
.div-staff-info > .staff-position {
  font-size: 1.7rem;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}

#logo-as-sun {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 95px;
  height: 95px;    
  z-index: 1000;
  animation: beat 2.9s infinite alternate;
}

@keyframes beat {
  to { 
    transform: scale(1.2); 
  }
}

.image-molecules {
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#ring1 {
  position: absolute;
  width: 60px;
  height: 60px;   
  padding: 10px;
  /* background-color: #eab200; */
  pointer-events: none;
  z-index: 10;
  animation: spinring 60s linear infinite 0s;
}

#ring2 {
  position: absolute;
  width: 60px;
  height: 60px;        
  padding: 10px;
  /* background-color: #eab200; */
  pointer-events: none;
  z-index: 10;
  animation: spinring 60s linear infinite 3s;
}

#ring3 {
  position: absolute;
  width: 60px;
  height: 60px;     
  padding: 10px;
  /* background-color: #eab200;    */
  pointer-events: none;
  z-index: 10;
  animation: spinring 60s linear infinite 6s;
}

#ring4 {
  position: absolute;
  width: 60px;
  height: 60px;     
  padding: 10px;
  /* background-color: #eab200;    */
  pointer-events: none;
  z-index: 10;
  animation: spinring 60s linear infinite 9s;
}

#ring5 {
  position: absolute;
  width: 60px;
  height: 60px;    
  padding: 10px;
  /* background-color: #eab200;     */
  pointer-events: none;
  z-index: 10;
  animation: spinring 60s linear infinite 12s;
}

#ring6 {
  position: absolute;
  width: 60px;
  height: 60px;     
  padding: 10px;
  /* background-color: #eab200;    */
  pointer-events: none;
  z-index: 10;
  animation: spinring 60s linear infinite 15s;
}

#ring7 {
  position: absolute;
  width: 60px;
  height: 60px;      
  padding: 10px;
  /* background-color: #eab200;   */
  pointer-events: none;
  z-index: 10;
  animation: spinring 60s linear infinite 18s;
}

#ring8 {
  position: absolute;
  width: 60px;
  height: 60px;     
  padding: 10px;
  /* background-color: #eab200;    */
  pointer-events: none;
  z-index: 10;
  animation: spinring 60s linear infinite 21s;
}

#ring9 {
  position: absolute;
  width: 60px;
  height: 60px;    
  padding: 10px;
  /* background-color: #eab200;    */
  pointer-events: none;
  z-index: 10; 
  animation: spinring 60s linear infinite 24s;
}

#ring10 {
  position: absolute;
  width: 60px;
  height: 60px;    
  padding: 10px;
  /* background-color: #eab200;    */
  pointer-events: none;
  z-index: 10; 
  animation: spinring 60s linear infinite 27s;
}

#ring11 {
  position: absolute;
  width: 60px;
  height: 60px;   
  padding: 10px;
  /* background-color: #eab200;      */
  pointer-events: none;
  z-index: 10;
  animation: spinring 60s linear infinite 30s;
}

@keyframes spinring {
  0% {
    transform: rotate(0deg);
    width: 50px;
    height: 50px;
  } 50% {
    transform: rotate(360deg);
    width: 600px;
    height: 600px;
  } 100% {
    transform: rotate(720deg);
    width: 50px;
    height: 50px;
  }
}


#ring1 > img {   
  pointer-events: visible;
  z-index: 10000;
  animation: preserveimageorientationimg 60s linear infinite;
}

#ring2 > img {
  pointer-events: visible;
  z-index: 10000;
  animation: preserveimageorientationimg 60s linear infinite 3s;
}

#ring3 > img {
  pointer-events: visible;
  z-index: 10000;
  animation: preserveimageorientationimg 60s linear infinite 6s;
}

#ring4 > img {
  pointer-events: visible;
  z-index: 10000;
  animation: preserveimageorientationimg 60s linear infinite 9s;
}

#ring5 > img {
  pointer-events: visible;
  z-index: 10000;
  animation: preserveimageorientationimg 60s linear infinite 12s;
}

#ring6 > img {
  pointer-events: visible;
  z-index: 10000;
  animation: preserveimageorientationimg 60s linear infinite 15s;
}

#ring7 > img {
  pointer-events: visible;
  z-index: 10000;
  animation: preserveimageorientationimg 60s linear infinite 18s;
}

#ring8 > img {
  pointer-events: visible;
  z-index: 10000;
  animation: preserveimageorientationimg 60s linear infinite 21s;
}

#ring9 > img {
  pointer-events: visible;
  z-index: 10000;
  animation: preserveimageorientationimg 60s linear infinite 24s;
}

#ring10 > img {
  pointer-events: visible;
  z-index: 10000;
  animation: preserveimageorientationimg 60s linear infinite 27s;
}

#ring11 > img {
  pointer-events: visible;
  z-index: 10000;
  animation: preserveimageorientationimg 60s linear infinite 30s;
}

@keyframes preserveimageorientationimg {
  from {
    transform: rotate(720deg);
  } to {
    transform: rotate(0deg);
  }
}

#ring1:has(img:hover) {
  animation-play-state: paused;
}
#ring1 > img:hover {
  animation-play-state: paused;
}


#ring2:has(img:hover) {
  animation-play-state: paused;
}
#ring2 > img:hover {
  animation-play-state: paused;
}

#ring3:has(img:hover) {
  animation-play-state: paused;
}
#ring3 > img:hover {
  animation-play-state: paused;
}


#ring4:has(img:hover) {
  animation-play-state: paused;
}
#ring4 > img:hover {
  animation-play-state: paused;
}


#ring5:has(img:hover) {
  animation-play-state: paused;
}
#ring5 > img:hover {
  animation-play-state: paused;
}


#ring6:has(img:hover) {
  animation-play-state: paused;
}
#ring6 > img:hover {
  animation-play-state: paused;
}


#ring7:has(img:hover) {
  animation-play-state: paused;
}
#ring7 > img:hover {
  animation-play-state: paused;
}


#ring8:has(img:hover) {
  animation-play-state: paused;
}
#ring8 > img:hover {
  animation-play-state: paused;
}


#ring9:has(img:hover) {
  animation-play-state: paused;
}
#ring9 > img:hover {
  animation-play-state: paused;
}


#ring10:has(img:hover) {
  animation-play-state: paused;
}
#ring10 > img:hover {
  animation-play-state: paused;
}


#ring11:has(img:hover) {
  animation-play-state: paused;
}
#ring11 > img:hover {
  animation-play-state: paused;
}




/* displaying user full image and info */
/*#our-team:has(#ring1 > img:hover) {
  height: 800px;
  background: rgba(0, 0, 0, 0.6)url("./images/bg/");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
}

#our-team:has(#ring1 > img:hover) #caroline-sanga {
  display: block;
}


#our-team:has(#ring2 > img:hover) {
  height: 800px;
  background: rgba(0, 0, 0, 0.6)url("./images/bg/Collins\ 2.JPG");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
}

#our-team:has(#ring2 > img:hover) #collins-obayi {
  display: block;
}



#our-team:has(#ring3 > img:hover) {
  height: 800px;
  background: rgba(0, 0, 0, 0.6)url("./images/bg/Edward.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

#our-team:has(#ring3 > img:hover) #edward-musungu {
  display: block;
}



#our-team:has(#ring4 > img:hover) {
  height: 800px;
  background: rgba(0, 0, 0, 0.6)url("./images/bg/Elijah\ 1.JPG");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
}

#our-team:has(#ring4 > img:hover) #elijah-kyalo {
  display: block;
}



#our-team:has(#ring5 > img:hover) {
  height: 800px;
  background: rgba(0, 0, 0, 0.6)url("./images/bg/");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
}

#our-team:has(#ring5 > img:hover) #emmanuel-loboka {
  display: block;
}



#our-team:has(#ring6 > img:hover) {
  height: 800px;
  background: rgba(0, 0, 0, 0.6)url("./images/bg/");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
}

#our-team:has(#ring6 > img:hover) #fr-charles {
  display: block;
}



#our-team:has(#ring7 > img:hover) {
  height: 800px;
  background: rgba(0, 0, 0, 0.6)url("./images/bg/fr-allan-ggita.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
}

#our-team:has(#ring7 > img:hover) #fr-allan-ggita {
  display: block;
}



#our-team:has(#ring8 > img:hover) {
  height: 800px;
  background: rgba(0, 0, 0, 0.6)url("./images/bg/");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
}

#our-team:has(#ring8 > img:hover) #francis-ayika {
  display: block;
}



#our-team:has(#ring9 > img:hover) {
  height: 800px;
  background: rgba(0, 0, 0, 0.6)url("./images/bg/Nelly\ 1.JPG");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
}

#our-team:has(#ring9 > img:hover) #nelly-agisa {
  display: block;
}



#our-team:has(#ring10 > img:hover) {
  height: 800px;
  background: rgba(0, 0, 0, 0.6)url("./images/bg/Peter\ 1.JPG");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
}

#our-team:has(#ring10 > img:hover) #pete-okapes {
  display: block;
}



#our-team:has(#ring11 > img:hover) {
  height: 800px;
  background: rgba(0, 0, 0, 0.6)url("./images/bg/victor\ Okoth\ 1.JPG");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
}

#our-team:has(#ring11 > img:hover) #victor-awiti-otieno {
  display: block;
}
*/





/* ------------------------------- MEDIA QUERIES ----------------------------------------------------- */

/* -small */
@media only screen and (max-width: 400px) {
  body {
    /* background-color: #eab200; */
  }

  .div-staff-info {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 5px;
    display: none;
  }
  .div-staff-info > .staff-name {
    width: 100%;
    font-size: 0.8rem;
    font-family: "Cal Sans", sans-serif;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
    color: #eab200;
  }
  .div-staff-info > .staff-position {
    width: 100%;
    font-size: 0.6rem;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    /* background-color: red; */
  }
  
  #logo-as-sun {
    width: 85px;
    height: 85px;
  }  
  
  .image-molecules {
    width: 35px;
    height: 35px;
  }
  
  #our-team {
    padding: 1rem;
    width: 100%;
    height: 370px;
    border-radius: 0px;
    overflow: hidden;
  }

  @keyframes spinring {
    0% {
      transform: rotate(0deg);
      width: 35px;
      height: 35px;
    } 50% {
      transform: rotate(360deg);
      width: 320px;
      height: 320px;
    } 100% {
      transform: rotate(720deg);
      width: 35px;
      height: 35px;
    }
  }
  
}


/* ************* medium screen sizes ***************************8 */
@media only screen and (min-width: 401px) and (max-width: 599px) {
  body {
    /* background-color: red; */
  }

  .div-staff-info {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 5px;
    display: none;
  }
  .div-staff-info > .staff-name {
    width: 100%;
    font-size: 1rem;
    font-family: "Cal Sans", sans-serif;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
    color: #eab200;
  }
  .div-staff-info > .staff-position {
    width: 100%;
    font-size: 0.8rem;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    /* background-color: red; */
  }
  
  #our-team {
    padding: 1rem;
    width: 100%;
    height: 500px;
    border-radius: 0px;
    overflow: hidden;
  }

  #logo-as-sun {
    width: 80px;
    height: 80px;
  }

  .image-molecules {
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 35px;
  }
  @keyframes spinring {
    0% {
      transform: rotate(0deg);
      width: 35px;
      height: 35px;
    } 50% {
      transform: rotate(360deg);
      width: 420px;
      height: 420px;
    } 100% {
      transform: rotate(720deg);
      width: 35px;
      height: 35px;
    }
  }
}

/* -large */
@media only screen and (min-height: 910px) {
  body {
    /* background-color: #00f; */
  } 
  #our-team {
    height: 650px;
  }

  #logo-as-sun {
    width: 85px;
    height: 85px;
  }

  .image-molecules {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  @keyframes spinring {
    0% {
      transform: rotate(0deg);
      width: 40px;
      height: 40px;
    } 50% {
      transform: rotate(360deg);
      width: 500px;
      height: 500px;
    } 100% {
      transform: rotate(720deg);
      width: 40px;
      height: 40px;
    }
  }
  
}